/* Common Styles */
* {
    margin: 0;
    max-width: 1980px;
    font-family: "Work Sans", sans-serif;
}
:root {
    --dark-1: #131313;
    --dark-2: #424242;
    --dark-3: #727272;
    --dark-7: #f3f3f3;

    --color: #ff900e;
    --background-color: rgba(255, 144, 14, 0.1);
}

/* Section-1: Brand New Group of Architects */

.section-1 {
    background: var(--background-color);
    padding: 50px 240px;
}
.nav {
    display: flex;
    justify-content: space-between;
}
.nav-left {
    font-weight: 500;
    font-size: 45px;
    color: var(--dark-1);
}
.nav-right {
    display: flex;
    font-weight: 500;
    font-size: 18px;
    align-items: center;
}
.nav-right > ul > a {
    text-decoration: none;
    color: var(--dark-2);
}
.section-1-main {
    text-align: center;
}
.section-1-description > h1 {
    font-weight: 700;
    font-size: 65px;
    padding: 30px 0px;
    color: var(--dark-1);
}
.description {
    font-size: 18pxpx;
    padding-bottom: 30px;
    color: var(--dark-3);
}
.btn {
    width: 180px;
    height: 65px;
    color: white;
    background-color: var(--color);
    border-radius: 8px;
    border: 0;
    margin-bottom: 50px;
    font-weight: 600;
    font-size: 20px;
}
.section-1-main > img {
    width: 100%;
}

/* Section-2: Quick list of Our Features */
.section-2 {
    display: flex;
    justify-content: space-evenly;
    padding: 50px 240px;
    align-items: center;
}
.section-2-image {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}
.section-2-image > img {
    width: 342px;
    height: 342px;
    border-radius: 8px;
}
.section-2-description {
    text-align: left;
}
.title {
    font-weight: 700;
    font-size: 45px;
    padding: 30px 0px;
    color: var(--dark-1);
}
.span-1 {
    color: var(--dark-3);
}
.span-2 {
    color: var(--dark-1);
}
.span-3 {
    color: var(--color);
}

/* Section-2: Features you will love & enjoy */
.section-3 {
    padding: 50px 240px;
    position: relative;
}
.section-3-description > h1 {
    border-left: 8px solid var(--color);
    padding: 0px 0px 0px 20px;
    margin: 30px 0px;
}
.section-3-main {
    display: flex;
    justify-content: space-between;
}
.item {
    padding: 30px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px 5px var(--dark-7);
}
.item-title {
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 20px;
}
.item > p {
    padding-bottom: 0px;
}
.experience {
    width: 342px;
    height: 200px;
    background-color: var(--color);
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: 819px;
    top: 882px;
}
.experience > h1 {
    font-weight: 700;
    font-size: 65px;
    color: white;
}
.experience > p {
    font-weight: 500;
    font-size: 24px;
    color: white;
}
